
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #2af846;
        border-radius: 5px;
        background-color: #e61919;
    }
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #2af3f3;
        color: rgb(211, 21, 236);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    button:hover {
        background-color: #fc00da;
    }
    #result {
        margin-top: 10px;
        font-weight: bold;
    }
